<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="text" id="inputUsername" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'login.username'|trans|capitalize }}" required autofocus>
            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="{{ 'login.password'|trans|capitalize }}" required>

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> {{ 'login.rememberMe'|trans|capitalize }}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{ 'btn.login'|trans|capitalize }}</button>
        </form>
        <a href="#" class="forgot-password" data-toggle="modal" data-target="#modalForgotPassword">
            {{ 'login.forgotPassword'|trans|capitalize }}
        </a>
    </div>
</div>

<div class="modal fade" id="modalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalForgotPassword">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form name="formForgotPassword" method="post" action="{{ path("fos_user_security_login") }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalForgotPassword">{{ 'login.forgotPassword'|trans|capitalize }}</h4>
                </div>
                <div class="modal-body">
                    <input type="email" id="inputEmail" class="form-control" placeholder="{{ 'login.email'|trans|capitalize }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn.cancel'|trans|capitalize }}</button>
                    <input type="submit" class="btn btn-primary" value="{{ 'btn.send'|trans|capitalize }}">
                </div>
            </form>
        </div>
    </div>
</div>