{% extends "PPMakerBackBundle::layout.html.twig" %}

{% block body_content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="page-header">
        <h1>{{ 'config.add.title'|trans|capitalize }}
            <div class="btn-group pull-right">
                <a class="btn btn-danger" href="{{ path('config_list') }}">
                    <i class="fa fa-reply"></i> {{ 'btn.back'|trans|capitalize }}
                </a>
                <button type="submit" id="ppmaker_backbundle_config_save" name="ppmaker_backbundle_config[save]" class="btn btn-success pull-right">
                    <i class="fa fa-check"></i> {{ 'btn.save'|trans|capitalize }}
                </button>
            </div>
        </h1>
    </div>

    {% include "PPMakerBackBundle:Config:form.html.twig" %}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}