{% extends "PPMakerBackBundle::layout.html.twig" %}

{% block body_content %}
    <div class="page-header">
        <h1>{{ 'config.list.title'|trans|capitalize }}
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('config_add') }}">
                    <i class="fa fa-plus"></i> {{ 'btn.add'|trans|capitalize }}
                </a>
            </div>
        </h1>
    </div>

    <table class="table table-bordered table-responsive table-hover">
        <thead>
        <tr>
            <th>{{ 'bundle.actif'|trans|capitalize }}</th>
            <th>{{ 'bundle.navOrder'|trans|capitalize }}</th>
            <th>{{ 'bundle.name'|trans|capitalize }}</th>
            <th>{{ 'bundle.front'|trans|capitalize }}</th>
            <th>{{ 'bundle.back'|trans|capitalize }}</th>
        </tr>
        </thead>
        <tbody>
        {% if bundleList is empty %}
            <tr><td colspan="5">{{ 'bundle.error.no_data'|trans|capitalize }}</td></tr>
        {% else %}
            {% for module in bundleList %}
                <tr onclick="location.href='{{ path('config_edit', {'id' : module.id}) }}'">
                    <td><i class="fa fa-toggle-{{ module.bundleActif ? 'on' : 'off' }}"></i></td>
                    <td>{{ module.bundleNavOrder }}</td>
                    <td>
                        {#<a href="{{ path('config_edit', {'id' : module.id}) }}">#}
                        <i class="fa fa-{{ module.bundleIcon }}"></i> {{ module.bundleName }}
                        {#</a>#}
                    </td>
                    <td>{{ module.bundleFront }}</td>
                    <td>{{ module.bundleBack }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}