{% extends "PPMakerBackBundle::layout.html.twig" %}

{% block body_content %}
<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-qrcode "></i> {{ 'nav.dashboard'|trans|upper }}</h2>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            {{ 'welcome'|trans|capitalize }} <strong>{{ app.user.username }}</strong>
        </div>
    </div>
</div>

<div class="row text-center pad-top">
    {% for module in bundleList %}
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            <div class="div-square">
                <a href="{{ path('back_settings', {'routeName': module.bundleBack}) }}">
                    <i class="fa fa-{{ module.bundleIcon }} fa-5x"></i>
                    <h4>{{ module.bundleName }}</h4>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}