{% extends "PPMakerBackBundle::layout.html.twig" %}

{% block body_content %}
<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-qrcode "></i> {{ 'nav.dashboard'|trans|upper }}</h2>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            {{ 'welcome'|trans|capitalize }} <strong>{{ app.user.username }}</strong>
        </div>
    </div>
</div>

<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="{{ path('back_settings', {'routeName': 'ppmcv_homepage'}) }}">
                <i class="fa fa-graduation-cap fa-5x"></i>
                <h4>{{ 'nav.cv'|trans|capitalize }}</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-th fa-5x"></i>
                <h4>{{ 'nav.portfolio'|trans|capitalize }}</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-cubes fa-5x"></i>
                <h4>{{ 'nav.projects'|trans|capitalize }}</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-feed fa-5x"></i>
                <h4>{{ 'nav.social'|trans|capitalize }}</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-envelope fa-5x"></i>
                <h4>{{ 'nav.contact'|trans|capitalize }}</h4>
            </a>
        </div>
    </div>
</div>

{% endblock %}