<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="{% if app.request.attributes.get('_route') == 'back_admin' %}active-link{% endif %}">
                <a href="{{ path('back_home') }}">
                    <i class="fa fa-qrcode "></i> {{ 'nav.dashboard'|trans|capitalize }}
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'back_parameters' %}active-link{% endif %}">
                <a href="{{ path('back_parameters') }}">
                    <i class="fa fa-table "></i> {{ 'nav.parameters'|trans|capitalize }}
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'back_support' %}active-link{% endif %}">
                <a href="blank.html">
                    <i class="fa fa-comments-o "></i> {{ 'nav.support'|trans|capitalize }}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-unlock-alt"></i> {{ 'logout'|trans|capitalize }}
                </a>
            </li>
        </ul>
    </div>
</nav>