{% extends "PPMakerFrontBundle::layout.html.twig" %}

{% block body %}
    <section class="row" id="menuCV">
        <div class="col-sm-12 text-center bgWhite">
            <div class="page-header">
                <img src="{{ asset('images/profile.png') }}" alt="Profil">
                <h1>CYRIL TONNEVILLE<br/>
                    <small>LEAD DEVELOPER PHP - SYMFONY2</small>
                </h1>
            </div>
        </div>
    </section>
    <section class="row" id="menuAboutMe">
        <div class="col-sm-12 bgYellow">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">{{ 'section.about_me'|trans|capitalize }}<br/>
                        <small><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                    </h2>
                    <div class="text-justify">
                        <p>Actuellement <strong>Ingénieur d'études</strong> chez <a href="http://www.gfi.fr/"
                                                                                    target="_blank">GFI Informatique</a>
                            à Lyon, j'ai été <strong>analyste programmeur</strong> entre 2008 et Août 2015, spécialisé
                            dans les <strong>technologies du Web</strong>, l'accessibilité des sites, la conception
                            fonctionnelle, la réalisation, la gestion et le pilotage de projets.</p>
                        <p>Passionné par le développement et le respect des "bonnes pratiques" dans ce domaine, j'ai
                            obtenu le titre d'<a href="http://www.accessiweb.org/" target="_blank">Expert Accessiweb 2.0
                                en évaluation de sites</a>, auprès de l'association <a href="http://www.braillenet.org/"
                                                                                       target="_blank">Braillenet</a>,
                            en 2011.</p>
                        <p>Je suis <strong>Administrateur réseau</strong> de formation (diplome obtenu en 2004 au <a
                                    href="" target="_blank">CESI Haute-Normandie</a>) ce qui me permet d'avoir une
                            vision globale des architectures Web.</p>
                        <p>Depuis 2002 je travaille chez <a href="http://www.toshibatec-teis.com" target="_blank">TOSHIBA
                                TEIS</a>, entreprise pour laquelle j'ai réalisé de nombreux développements Web en
                            intranet, extranet et également des sites plaquettes.</p>
                        <p class="text-right"><a href="./CV_Cyril_TONNEVILLE.pdf" title="Télécharger mon CV">Télécharger
                                mon CV (format pdf, 0,35Mo)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="menuEfficiencies">
        <div class="col-sm-12 bgWhite">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">{{ 'section.efficiencies'|trans|capitalize }}<br/>
                        <small><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                    </h2>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><h3>Languages de programmation</h3></div>
                            </div>
                            <div class="panel-body">
                                <strong>CSS</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>CSS3</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>HTML</strong><span class="pull-right">Expert</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%">
                                        <span class="sr-only">100%</span>
                                    </div>
                                </div>
                                <strong>Javascript</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>PHP5</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>VB6</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><h3>Framework</h3></div>
                            </div>
                            <div class="panel-body">
                                <strong>[CSS] Bootstrap</strong><span class="pull-right">Expert</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%">
                                        <span class="sr-only">100%</span>
                                    </div>
                                </div>
                                <strong>[JS] JQuery</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>[PHP] Symfony2</strong><span class="pull-right">Intermédiaire</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped"
                                         role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 50%">
                                        <span class="sr-only">50%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><h3>CMS</h3></div>
                            </div>
                            <div class="panel-body">
                                <strong>Drupal</strong><span class="pull-right">Débutant</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped"
                                         role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 25%">
                                        <span class="sr-only">25%</span>
                                    </div>
                                </div>
                                <strong>Joomla</strong><span class="pull-right">Débutant</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped"
                                         role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 25%">
                                        <span class="sr-only">25%</span>
                                    </div>
                                </div>
                                <strong>Wordpress</strong><span class="pull-right">Intermédiaire</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped"
                                         role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 50%">
                                        <span class="sr-only">50%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><h3>Bases de données</h3></div>
                            </div>
                            <div class="panel-body">
                                <strong>MySQL</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>Oracle</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>SQL Server</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title"><h3>Autres</h3></div>
                            </div>
                            <div class="panel-body">
                                <strong>Accessibilité des sites Web</strong><span class="pull-right">Expert</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%">
                                        <span class="sr-only">100%</span>
                                    </div>
                                </div>
                                <strong>Apache</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>Environnement LINUX</strong><span class="pull-right">Avancé</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                                <strong>Environnement WINDOWS</strong><span class="pull-right">Expert</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%">
                                        <span class="sr-only">100%</span>
                                    </div>
                                </div>
                                <strong>Gestion de projets</strong><span class="pull-right">Intermédiaire</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped"
                                         role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 50%">
                                        <span class="sr-only">50%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="menuPortfolio">
        <div class="col-md-12 bgYellow">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">{{ 'section.portfolio'|trans|capitalize }}<br/>
                        <small><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                    </h2>
                    <div class="text-justify">
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal15">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal14">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal13">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal12">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal11">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="#" class="thumbnail" data-toggle="modal" data-target="#modal10">
                                <img src="http://lorempixel.com/300/300" class="img-responsive img300">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="menuContactMe">
        <div class="col-md-12 bgWhite">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">{{ 'section.contact'|trans|capitalize }}<br/>
                            <small><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </small>
                        </h2>
                    </div>
                    <div class=" col-md-6 col-md-offset-3 text-center">
                        <form role="form" action="index.php" method="POST">
                            <div class="row">
                                <div class="form-group col-xs-12 floating-label-form-group">
                                    <label for="name">{{ 'contact.name'|trans|capitalize }}</label>
                                    <input class="form-control" type="text" name="name" placeholder="{{ 'contact.name'|trans|capitalize }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 floating-label-form-group">
                                    <label for="email">{{ 'contact.email'|trans|capitalize }}</label>
                                    <input class="form-control" type="email" name="email" placeholder="{{ 'contact.email'|trans|capitalize }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 floating-label-form-group">
                                    <label for="message">{{ 'contact.message'|trans|capitalize }}</label>
                                    <textarea placeholder="{{ 'contact.message'|trans|capitalize }}" class="form-control" rows="5"
                                              name="message"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" name="sendMail" class="btn btn-lg btn-success"><i
                                                class="fa fa-send"></i> {{ 'btn.send'|trans|capitalize }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "PPMakerFrontBundle:Default:footer.html.twig" %}
{% endblock %}